@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background-color: black; /*colore di background di spotify*/
    margin: 0; /*il font è quello di spotify*/
    padding: 0;
  }

  .logo {
    text-align: center;
    margin-top: 20px;
  }
  
  .logo img{
    width: 300px;
    animation: rotation 7s infinite linear;
    margin-bottom: 39px;
    margin-top: 44px;
  }
  
    
    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    
    nav {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      padding: 15px;
      margin: 20px;
      background-color: rgb(18,18,18);
      border-radius: 10px;
      font-style: bold;
    }
  
    nav a{
      font-size: 22px;
      text-decoration: none;
      color: #fff;
      display: block;
      position: relative;
      padding: 4px 0;
    }
    nav a::before{
      content: "";
      width: 100%;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: #fff;
      transition: 0.5s transform ease;
      transform: scale3d(0,1,1);
      transform-origin: 0 50%;
    }
  
    nav a:hover::before{
      transform: scale3d(1,1,1);
    }
  
    nav a::before{
      background: rgb(223, 204, 137);
      transform-origin: 100% 50%;
    }
  
    nav a:hover::before{
      transform-origin: 0 50%;
    }

    main{
      margin: 40px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: center;
    }

    main div{
        background-color: rgb(24, 24, 24);
        border-radius: 10px;  
        padding: 5px;
        margin: 10px;
    }

    div h1 {
        color: rgb(223, 204, 137);
        text-align: center;
    }

    div h2, div h3, ol {
        color: white;
    }

    div p{
        color: rgb(148, 148, 148); /*le scritte su spotify hanno questo colore*/
        font-size: 15px;
        line-height: 21px;
        margin: 10px;
    }

    footer {
        background-color: rgb(24, 24, 24);
        margin: 35px;
        text-align: center;
        padding: 15px;
        border-radius: 10px;
        color: rgb(148, 148, 148);
      }

      img {
        border-radius: 10px;
      }

      .container {
        text-align: center;
      }